/* Headings */
h1 {
    font-family: "Arial", sans-serif; /* Heading font family */
    color: lightgrey; /* Heading text color */
    background-color: skyblue; /* Heading background color */
    padding: 10px; /* Heading padding */
    text-align: center; /* Center align heading text */
}

h2 {
    font-family: "Georgia", serif; /* Subheading font family */
    color: green; /* Subheading text color */
}

/* Matter */
p {
    font-family: "Roboto", sans-serif; /* Paragraph font family */
    color: black; /* Paragraph text color */
    margin-bottom: 10px; /* Bottom margin for paragraphs */
}

h3 {
    font-family: "Georgia", serif; /* Subheading font family */
    color: green; /* Subheading text color */
}

p8 {
    font-family: 'OCR A Std';
    font-size: 20px;
}
p9 {
    font-family: 'OCR A Std';
    font-size: 20px;
}
p10 {
    font-family: 'OCR A Std';
    font-size: 20px;
}
p11 {
    font-family: 'OCR A Std';
    font-size: 20px;
}

h4 {
    font-family: 'OCR A Std';
    font-size: 20px;
}
h5 {
    font-family: 'OCR A Std';
    font-size: 20px;
}
h6 {
    font-family: 'OCR A Std';
    font-size: 20px;
}
h7 {
    font-family: 'OCR A Std';
    font-size: 20px;
}

p3 {
    font-family: 'sans-serif';
    font-size: 20px;
}

p7 {
    font-family: 'Bookman';
    font-size: 20px;
}

p5 {
    font-family: 'OCR A Std';
    font-size: 20px;
}

p1 {
    font-family: 'Gill Sans';
    font-size: 20px;
}

p6 {
    font-family: 'Stencil Std';
    font-size: 20px;
}

p4 {
    font-family: 'Bradley Hand';
    font-size: 20px;
}
/* Footer */
footer {
    font-family: "Apple Chancery", monospace; /* Footer font family */
    background-color: white; /* Footer background color */
    color: black; /* Footer text color */
    padding: 5px; /* Footer padding */
    text-align: center; /* Center align footer text */
}
